doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    title Socket_WebRTC
    style a{padding:10px;margin:10px;}
  body 
    header
      h1 Welcome to Socket_WebRTC
    main 
      p(style="text-align: center;")
        a(href="/chat")
          b Chat ➔
        a(href="/video")
          b Video Call ➔