doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    title Document

  body
    header 
      h1 It works!
    main
      h2 Welcome to Socket_WebRTC
      ul 
      form
        input(type="text" placeholer="Write your message",required)
        button Send
    script(src="../js/app.js") 
