doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="Content-Security-Policy" content="upgrade-insecure-requests")
    link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    link(rel="icon" href="data:;base64,iVBORw0KGgo=")
    title Socket_WebRTC
    style button{margin:10px;}
  body 
    header(style="padding-bottom:0")
      h2 Welcome to Socket_WebRTC
    main(style="padding-top:0;padding-bottom:20px;")
      section 
        div#welcome
          form#roomName
            input(placeholder="room name" style="display:inline;margin:1.5rem;" type="text", required)
            button Enter Room
        div#call
          video#myVideo(autoplay, playsinline, width=400, height=400)
          video#peerVideo(autoplay, playsinline, width=400, height=400)
          p(style="text-align:center;")
            button#sound Mute
            button#video Video Off
          select#cameras

    script(src="/socket.io/socket.io.js") 
    script(src="/js/video.js") 
